@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}

.div-score {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-image: url(./piggy-bank.png);
    background-size: 60px;
    background-repeat: no-repeat;
}


