@import "~jspsych/css/jspsych.css";

.jspsych-display-element {
  background-color: #ffffff;
}
.questions {
    position: relative;
    left: 100px;
    width: 70%;
    margin: auto;
}

.p-descript {
    width:70%; 
    margin:auto; 
    text-align:left;
}

.p-title {
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    white-space: pre;
}

.p-likert-scale-0 {
    line-height: 5px;
    font-size: 14px;
    text-align: left;
    word-spacing: 220px;
    white-space: pre;
}

.p-likert-scale-1 {
    line-height: 10px;
    word-spacing: 47px;
    white-space: pre;
}

.p-intro-title{
    font-size:calc(4vh);
    text-align:center;
}

.p-intro-content {
    font-size: calc(2.7vh);
    text-align: left;
    white-space: pre-line;
}

.p-aboveTitle {
    font-size: 16px;
    color: grey;
    width: 600px;
}

.p-drag {
    float: left;
    color: red;
    position: absolute;
    width: 100px;
    bottom: -20px;
    left: 230px;
    animation: unShow linear 1s 4 both;
}
@keyframes unShow {
    from {
        height: 20px;
    }

    to {
        height: 0px;
        visibility: hidden;
    }
}

//image at the left side of the page
//it's an image with width < height
.img-left-profile {
    float: left;
    width: calc(20vw);
    position: fixed;
    top: calc(15vh);
    left: calc(10vw);
    margin-right: 10px;
    display: inline-block;
}
//it's an image with width > height
.img-left-landscape {
    float: left;
    width: calc(40vw);
    position: fixed;
    top: 150px;
    left: 5%;
    margin-right: 10px;
    display: inline-block;
}


.img-choice {
    float: left;
    width: 220px;
    position: fixed;
    top: 220px;
    left: 5%;
    margin-right: 10px;
    display: inline-block;
}



.btn-img {
    position: relative;
    top: 50px;
    z-index: 2;
}

//a div at the upper left corner
.div-upperLeft {
    position: fixed;
    left: 40px;
    top: 10px;
    width: calc(90vw);
    font-size:16px;

    text-align: left;
}

.div-scroll {
    height: calc(10vh);
    overflow-y: auto;
    color:dimgrey;
}


//a box at the right side of the page
.div-right {
    position: fixed;
    top:100px;
    left: calc(50vw);
    width: calc(32vw);
    display: inline-block;
}

//a box of full screen text
.div-full {
    width: calc(52vw);
    margin: auto;
    position: fixed;
    top: calc(30vh);
    left: calc(25vw);
}

.div-frame {
    position: fixed;
    top: 8px;
    left: 10px;
    width: calc(96vw);
    height: calc(93vh);

    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    display: inline-block;
}


.div-title {
    position: relative;
    top:-50px;
    z-index: 0;
    height: 30px;
    background-image: url(./buffering.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.div-hint {
    position: absolute;
    left: 0px;
    top: 30px;
    width:200px;
    display: inline-block;
    font-size: 14px;
    /*    visibility: hidden;*/
    text-align: left;
    margin: 10px;
}



.div-score {
    position: fixed;
    bottom: 10px;
    right: 20px;
    height:90px;
    vertical-align:top;
    line-height: 50px;
    background-image: url(./piggy-bank.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.div-pool {
    position: fixed;
    line-height: 14px;
    font-size: 16px;
    height: calc(90vh);
    width: 330px;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    padding: 20px;
    border: solid gray;
}

.div-slider {
    width: 10px;
    position: relative;
    bottom: calc(60vh);
    left: calc(60vw);
}

.div-scale {
    position: absolute;
    z-index: 0;
    width: 100px;
    line-height: 13.22px;
    font-size: 14px;
    bottom: -243px;
    left: 210px;
    white-space: pre;
}

.div-likert-scale{
    position:relative;
    left:80px;
}

.div-age {
    position: fixed;
    top: calc(24vh);
    left: calc(22.2vw);
    text-align: left;
    white-space: pre;
}

.input-slider {
    -webkit-appearance: none;
    width: 400px;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    transform: rotate(270deg);
    width: 400px;
    height: 12px;
    background: #d3d3d3;
    outline: none;
}


.my-jspsych-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 200px;
}

.btn-corner {
    position: fixed;
    bottom: calc(3vh);
    right: calc(2vw);
    width: calc(10vw);
    height: 60px;
    background-color: lightgrey;
    font-size: calc(2vw);
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.my-jspsych-btn:disabled {
    background-color: lightgray;
    opacity: 0.6;
}

.jspsych-survey-likert-statement {
    position: relative;
    right: 140px;
    bottom:15px;
    text-align: left;
    display: block;
    font-size: 16px;
    padding-top: 2px !important;
    line-height: 16px !important;
    margin-bottom: 6px !important;
}

.jspsych-survey-likert-opts {
    list-style: none;
    width: 100%;
    padding-bottom: 0px !important;
    display: block;
    font-size: 0px !important;
    line-height: 1px !important;
    position: relative;
    left: 80px;
    bottom:40px;
}



//slider handle Chrome
.input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    //box-shadow: calc(-100vmax - var(--thumb-width, 0px)) 0 0 100vmax gray;
}

.input-slider::-webkit-slider-runnable-track {
    height: 15px;
    //overflow: hidden;
}

.input-slider::-webkit-slider-thumb {
    width: 15px;
    height: 30px;
    background-color: #FEFEFE;
    border: 2px solid gray;
    cursor: pointer;
}

/*.input-slider::-webkit-slider-thumb:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: -6px;
    left: -5px;
    cursor: pointer;
}*/

//slider handle Firefox
.input-slider::-moz-range-thumb {
    width: 15px;
    height: 30px;
    background: #FEFEFE;
    border: 2px solid gray;
    cursor: pointer;
}

.input-slider::-moz-range-progress {
    height: 15px;
    background-color: gray;
}
